<h1>Name: <%= @application.applicant_name %></h1>
<p>Street: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Why you are a good applicant: <%= @application.description %></p>
<p>Pets in application:<p>
<ul>
    <% @application.pets.each do |pet| %>
        <li><%= pet.name %></li>
    <% end%>
</ul>
<p>Application status: <%= @application.status %></p>

<%= form_tag '/applications/:id', :method => "get" do %>
    <%= label_tag(:search, "Add a Pet to this Application") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Submit", :name => nil)%>
<% end %>
