<h1>Name: <%= @application.applicant_name %></h1>
<p>Street: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Why you are a good applicant: <%= @application.description %></p>
<p>Pets in application:<p>
    <%= @application.pets.name #we need a method on this object that will return all the pets names in a legible format %>
<p>Application status: <%= @application.status %></p>
